/* Font Face */

/* raw elements */

html {
  font-family: "Open Sans", "Roboto", "Exo 2", "Montserrat", "Maven Pro", sans-serif;
}

main {
  height: 75vh;
  max-height: 560px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  padding: 0 10px 10px 10px;
}

body {
  font-size: 16px;
  background-color: #f0f0f0;
}

/* General classes */

.default-section-template {
  margin-top: 5rem;
  margin-left: 8%;
  margin-right: 8%;
}

.link-default-article:link {
  color: #000;
}

.link-default-article:visited {
  color: #000;
}

.link-default-article:hover {
  color: #f42;
  text-decoration: underline;
}

.article-headers-a {
  font-size: 0.8rem;
  font-family: "Montserrat";
}

.article-headers-a:link {
  color: #f42;
}

.article-headers-a:hover {
  color: #000;
  text-decoration: underline;
}

.article-headers-a:visited {
  color: #f42;
}

.default-grid-template {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1vw;
}

.default-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.hide-header {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.navs-li {
  text-align: center;
  padding-right: 1em;
}

.navs-ul {
  height: 2em;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 0.81em;
}

.border-thin-eee {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #eee;
}

/* Header */

/* nav-top */

.nav-top {
  height: 2em;
  width: 100%;
  background-color: #000;
}

.nav-top > div:nth-child(1) {
  padding-left: 1.5em;
}

.nav-top > div:nth-child(2) {
  padding-right: 0.5em;
}

.nav-top-divs {
  height: 2em;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 0.81em;
}

.nav-top-divs > li {
  text-align: center;
  padding-right: 1em;
}

.nav-top-divs > li > a:link {
  color: hsla(0, 0%, 100%, 0.6);
}

.nav-top:nth-of-type(1) > div:nth-of-type(1) > ul > li:nth-child(1) > a:link {
  color: #fff;
}

/* styling of fixed nav bar */

.nav-sticky {
  height: 3em;
  background: #fff;
  font-family: "Roboto";
  font-weight: 500;
  position: sticky;
  font-size: 115%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-sticky > div {
  background: #fff;
  width: auto;
  font-family: "Exo 2";
  font-weight: 500;
  margin-top: 0.2em;
}

.nav-sticky > div:nth-last-child(1) {
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nav-sticky > div > ul {
  height: 3em;
  margin-left: 1.5em;
}

.nav-sticky > div > ul > li > a:link {
  color: #aaa;
}

.nav-sticky > div > ul > li > a:visited {
  color: #aaa;
}

.nav-sticky > div > ul > li > a:visited:hover {
  color: #000;
}

.nav-sticky > div > ul > li > a:link:hover {
  color: #000;
}

.nav-sticky > div > a {
  background-color: #fff;
  font-size: 113%;
  font-weight: 500;
  color: #aaa;
}

/* hamburguer button top nav */

.hamburguer-button {
  display: none;
}

/* Main */
main > article {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main > article:nth-of-type(1) {
  height: auto;
  width: auto;
  grid-column: 1/3;
  grid-row: 1/3;
  background-image: url("../img/main-1.jpg");
}

.black-gradient {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.01) url(../img/image-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  will-change: background-color;
}

.color-gradient {
  position: relative;
  height: 100%;
  width: 100%;
  background: transparent url(../img/cover-gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  mix-blend-mode: lighten;
}

#logo-div {
  height: 6vw;
  width: 26vw;
  position: absolute;
  top: 3%;
  left: 3%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

main > article:nth-of-type(2) {
  background-image: url("../img/main-2.jpg");
  justify-content: flex-end;
}

main > article:nth-of-type(3) {
  background-image: url("../img/main-3.jpg");
  justify-content: flex-end;
}

main > article:nth-of-type(2) > .div-container {
  justify-content: flex-end;
}

main > article:nth-of-type(3) > .div-container {
  justify-content: flex-end;
}

.div-container {
  display: flex;
  height: 94%;
  width: 94%;
  padding: 3%;
  flex-direction: column;
  justify-content: flex-end;
}

.color-gradient > .div-container {
  justify-content: space-between;
}

.div-container > span {
  align-self: flex-end;
}

main > article:nth-of-type(1n+2) > div {
  font-size: 10px;
}

.div-container > div {
  margin-bottom: 2%;
}

.div-container > div > h2 {
  font-size: 3.0em;
}

.div-container > div:nth-of-type(1n+1) > ul {
  display: flex;
}

.div-container > div:nth-of-type(1n+1) > ul > li {
  padding-left: .5em;
}

.div-container > div:nth-of-type(1n+1) > ul > li > a:link {
  color: hsla(0, 0%, 100%, .6);
}

.div-container > div:nth-of-type(1n+1) > ul > li > a:visited {
  color: hsla(0, 0%, 100%, .6);
}

/* Latest news section */

.latest-news {}

.latest-news-article {
  height: 300px;
}

.latest-news > div {
  width: auto;
  height: auto;
}

.latest-news-article > img {
  flex: 0.6;
}

.latest-news-article > h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 250px;
}

.latest-news-article > span {
  font-size: 0.6rem;
  color: #6b6b6b;
}

.latest-news-article > span > a:link {
  color: #6b6b6b;
  font-size: 0.7rem;
  padding-right: 0.2rem;
}

.latest-news-article > span > a:visited {
  color: #6b6b6b;
}

/* latest rounds section */

.container-latest-rounds {
  display: flex;
}

.container-latest-rounds > article {
  flex: 1;
  margin-right: .5vw;
  margin-left: .5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fffaf8;
  height: 17rem;
  justify-content: flex-start;
}

.container-latest-rounds > article > a {
  height: 6rem;
}

.container-latest-rounds > article > a:link {
  color: #000;
}

.container-latest-rounds > article > a:visited {
  color: #000;
}

.container-latest-rounds > article > a > img {
  width: 3.4rem;
  height: 3.4rem;
  float: left;
  margin-right: .8rem;
  margin-top: .8rem;
  margin-left: .8rem;
}

.container-latest-rounds > article > a > h4 {
  margin-bottom: .2rem;
  margin-top: .1rem;
  color: #fff;
  height: 24px;
  padding-top: 4%;
  background-color: #fe4422;
}

.container-latest-rounds > article > a > div {
  align-self: center;
  color: #000;
  background-color: #ffece7;
}

.container-latest-rounds > article > a > div > span:nth-of-type(1) {
  font-weight: bolder;
}

.container-latest-rounds > article > a > div > span:nth-of-type(2) {
  font-size: 14px;
  color: #838383;
}

.div-container > div:nth-of-type(1n+1) > ul > li > a:visited {
  color: hsla(0, 0%, 100%, .6);
}

/* Latest news section */

.latest-news {
  margin-top: 5rem;
  margin-left: 8%;
  margin-right: 8%;
}

.latest-news-article {
  height: 300px;
}

.latest-news > div {
  width: auto;
  height: auto;
}

.latest-news-article > a {
  flex: 0.6;
}

.latest-news-article > a > img {
  max-width: 273.05px;
  max-height: 153.583px;
  width: 100%;
}

.latest-news-article > h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 250px;
}

.latest-news-article > h3 > span {
  font-size: 0.6rem;
  color: #6b6b6b;
}

.latest-news-article > h3 > span > a:link {
  color: #6b6b6b;
  font-size: 0.7rem;
  padding-right: 0.2rem;
}

.latest-news-article > h3 > span > a:visited {
  color: #6b6b6b;
}

/* latest rounds section */

.container-latest-rounds {
  display: flex;
  flex-direction: row;
}

.container-latest-rounds > article {
  flex: 1;
  margin-right: .5vw;
  margin-left: .5vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #fffaf8;
  height: 17rem;
  justify-content: flex-start;
}

.container-latest-rounds > article > a {
  height: 6rem;
}

.container-latest-rounds > article > a:link {
  color: #000;
}

.container-latest-rounds > article > a:visited {
  color: #000;
}

.container-latest-rounds > article > a > img {
  width: 3.4rem;
  height: 3.4rem;
  float: left;
  margin-right: .8rem;
  margin-top: .8rem;
  margin-left: .8rem;
}

.container-latest-rounds > article > a > h4 {
  margin-bottom: .2rem;
  margin-top: .1rem;
  color: #fff;
  height: 24px;
  padding-top: 4%;
  background-color: #fe4422;
}

.container-latest-rounds > article > a > div {
  align-self: center;
  color: #000;
  background-color: #ffece7;
}

.container-latest-rounds > article > a > div > span:nth-of-type(1) {
  font-weight: bolder;
}

.container-latest-rounds > article > a > div > span:nth-of-type(2) {
  font-size: 14px;
  color: #838383;
}

.container-latest-rounds > article > ul {
  margin-left: .8rem;
  margin-top: 1rem;
}

.container-latest-rounds > article > ul > li {
  padding-bottom: .8rem;
}

.container-latest-rounds > article > ul > li > a {
  padding-left: .2rem;
  color: #868686;
  font-size: calc(1rem-1px);
}

.container-latest-rounds > article > ul > li > a:hover {
  padding-left: .2rem;
  color: #000;
  font-size: calc(1rem-1px);
}

.container-latest-rounds > article > p {
  margin-left: .8rem;
  margin-right: .8rem;
  border-top: 2px solid #F3E3DE;
  padding-top: .2rem;
}

.container-latest-rounds > article > p > span {
  color: #868686;
}

.container-latest-rounds > article > ul {
  margin-left: .8rem;
  margin-top: 1rem;
}

.container-latest-rounds > article > ul > li {
  padding-bottom: .8rem;
}

.container-latest-rounds > article > ul > li > a {
  padding-left: .2rem;
  color: #868686;
  font-size: calc(1rem-1px);
}

.container-latest-rounds > article > ul > li > a:hover {
  padding-left: .2rem;
  color: #000;
  font-size: calc(1rem-1px);
}

.container-latest-rounds > article > p {
  margin-left: .8rem;
  margin-right: .8rem;
  border-top: 2px solid #F3E3DE;
  padding-top: .2rem;
}

.container-latest-rounds > article > p > span {
  color: #868686;
}

/* TAGG::Articles-misc -section */

.article-misc-section {
  display: flex;
  justify-content: center;
}

.articles-misc-container {
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-row-gap: 1rem;
}

.article-misc {
  max-width: 500px;
}

.header-misc-container {
  position: relative;
}

.div-header-article-misc {
  height: 276px;
  max-width: 500px;
  background: url(../img/image-gradient.png),
    url("../img/misc_1.jpg") rgba(255, 255, 255, 0.01);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  justify-content: flex-end;
  align-content: flex-start;
  padding: 1em;
  box-sizing: border-box;
  position: relative;
}

.first-span-article-header {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Exo 2", "Montserrat";
}

.h3-article-misc {
  margin-top: 0.3em;

}

.link-misc-header {
  font-family: "Montserrat";
  font-weight: 600;
}

.link-misc-header:link,
.link-misk-header:visited {
  color: #fff;
}

.link-misc-header:hover {
  text-decoration: underline 0.3px;
}

.span-under-header,
.span-under-header > a:link,
.span-under-header > a:visited {
  color: #aaa;
  font-size: 0.8rem;
}

.img-misc {}

/* TAGG::Article-Misc-Section-Inner div */

.inner-div-misc {
  margin-top: 0.2em;
  background-color: rgba(255, 68, 34, .06);
  width: 100%;
  max-width: 500px;
}

.inner-div-text {
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-top: 1rem;
  height: 96px;
  justify-content: flex-start;
  align-content: center;
  float: left;
  width: 69%;
}

.inner-div-text > span {
  color: #f42;
  font-size: 0.8rem;
  font-family: "Exo 2";
}

.inner-div-text > h6 {
  margin: 0.2rem 0 0.2rem 0;
  width: 100%;
}

.link-inner-misc,
.link-inner-misc:visited {
  font-size: 0.9rem;
  color: #f42;
}

.link-inner-misc:hover {
  text-decoration: underline;
}

.inner-div-misc-img {
  max-width: 96px;
  max-height: 96px;
  height: 100%;
  width: 100%;
  background-color: orangered;
  background: url("../img/misc_inner_small_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  float: right;
}

/* TAGG:Articles-Misc-Section-Lists */

.article-misc-ul {
  max-width: 500px;
}

.article-misc-ul > li {
  width: 80%;
  margin-left: 3.5%;
  padding-bottom: 0.5rem;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #d3d3d3;
}

.article-misc-ul > li > a,
.article-misc-ul > li > a:visited {
  color: #4c4c4c;
  font-family: "Maven Pro";
  font-size: 0.9rem;
}

.article-misc-ul > li > a:hover {
  color: #000;
}

.article-misc-ul > li::before {
  background-color: #f42;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4px;
  right: 13px;
  position: relative;
  top: 13px;
  width: 4px;
}




@media screen and (min-width: 1005px) and (max-width: 1100px) {
  .container-latest-rounds > article:nth-of-type(4) {
    display: none
  }
}

/* small screen */

@media screen and (min-width: 747px) and (max-width: 1005px) {
  .hide-on-medium {
    display: none;
  }

  .color-gradient {
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
  }

  #logo-div {
    display: none;
  }

  .latest-news-article > figure > img {
    width: 25vw;
    height: 15vw;
  }

  .container-latest-rounds > article:nth-of-type(4) {
    display: none
  }

  main > article {
    font-size: 9px;
  }

  main > article:nth-of-type(1n+2) > div {
    font-size: 7px;
  }
}



/* cell */

@media screen and (max-width: 746px) {

  .hide-on-small {
    display: none;
  }

  .nav-sticky {
    justify-content: flex-end;
  }

  .hamburguer-button {
    display: block;
    border-style: none none none solid;
    background-color: rgba(255, 255, 255, 0);
    height: 3em;
    width: 3em;
    color: #f42;
    font-size: 105%;
    padding: 0;
  }

  #test-div {
    padding: 0;
    height: 3em;
    width: 6em;
  }

  #test-div > a {
    width: 3em;
    text-align: center;
  }

  .color-gradient {
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
  }

  /* latest news */

  .default-grid-template {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(92px, 1fr));
  }

  .default-flex-container {
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .latest-news-article > a img {
    height: 75px;
    max-width: 75px;
    margin-right: 1em;
    margin-bottom: 1em;
    width: auto;
  }

  .latest-news-article {
    height: auto;
  }

  .latest-news-article > h3 {
    margin: 0;
    width: calc(100% - 75px);
    max-width: calc(100% - 75px - 1em);
  }

  /* Main */

  main > article:nth-of-type(1) {
    grid-column: span 3;
  }

  main > article {
    font-size: 6px;
    grid-column: span 3;
  }

  main > article:nth-of-type(1n+2) > div {
    font-size: 6px;
  }

  #logo-div {
    display: none;
  }

  .container-latest-rounds > article:nth-of-type(4) {
    display: none
  }

  .container-latest-rounds {
    flex-direction: column;
  }

  .container-latest-rounds > article {
    margin-bottom: 1.3rem;
  }
  
  /* Article-Misc-Section */
  
  .article-misc {
    width: 100%;
  }
  
  .div-header-article-misc {
    align-content: flex-end;
  }

  

}

/* Rules that applies last */