/* Font Face */

/* raw elements */

html {
  font-family: "Open Sans", "Roboto", "Exo 2", sans-serif;
}

main {
  height: 125em;
}

body {
  font-size: 16px;
  background-color: gray;
}

/* General classes */

.left {
  float: left;
}

.right {
  float: right;
}

.navs-li {
  text-align: center;
  padding-right: 1em;
}

.navs-ul {
  height: 2em;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 0.81em;
}

.border-thin-eee {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #eee;
}

/* Header */

/* nav-top */

.nav-top {
  height: 2em;
  width: 100%;
  background-color: #000;
}

.nav-top > div:nth-child(1) {
  padding-left: 1.5em;
}

.nav-top > div:nth-child(2) {
  padding-right: 0.5em;
}

.nav-top-divs {
  height: 2em;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 0.81em;
}

.nav-top-divs > li {
  text-align: center;
  padding-right: 1em;
}

.nav-top-divs > li > a:link {
  color: hsla(0, 0%, 100%, 0.6);
}

.nav-top:nth-of-type(1) > div:nth-of-type(1) > ul > li:nth-child(1) > a:link {
  color: #fff;
}

/* styling of fixed nav bar */

.nav-sticky {
  height: 3em;
  background: #fff;
  font-family: "Roboto";
  font-weight: 500;
  position: sticky;
  font-size: 115%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.nav-sticky > div {
  background: #fff;
  width: auto;
  font-family: "Exo 2";
  font-weight: 500;
  margin-top: 0.2em;
}

.nav-sticky > div:nth-last-child(1) {
  height: 3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.nav-sticky > div > ul {
  height: 3em;
  margin-left: 1.5em;
}

.nav-sticky > div > ul > li > a:link {
  color: #aaa;
}

.nav-sticky > div > ul > li > a:visited {
  color: #aaa;
}

.nav-sticky > div > ul > li > a:visited:hover {
  color: #000;
}

.nav-sticky > div > ul > li > a:link:hover {
  color: #000;
}

.nav-sticky > div > a {
  background-color: #fff;
  font-size: 113%;
  font-weight: 500;
  color: #aaa;
}

/* hamburguer button top nav */

 .hamburguer-button {
    display: none;
  }

/* Media queries */ 

/* Desktop */

@media screen and (min-width: 814px) {
  
  
}

/* small screen */

@media screen and (min-width: 747px) and (max-width: 813px) {

  .hide-on-medium {
    display: none;
  }
  
}

/* cell */

/* TODO:  abstract border code of header to a class */

@media screen and (max-width: 746px) {

  .hide-on-small {
    display: none;
  }
  
  .nav-sticky {
    justify-content: flex-end;
  }
  
  .hamburguer-button {
    display: block;
    border-style: none none none solid;
    background-color: rgba(255, 255, 255, 0);
    height: 3em;
    width: 3em;
    color: #f42;
    font-size: 105%;
    padding: 0;
  }
  
  #test-div {
    padding: 0;
    height: 3em;
    width: 6em;
  }
  
  #test-div > a {
    width: 3em;
    text-align: center;
  }
  
}

/* Rules that applies last */ 
